<div class="dropdown row col-md-6 col-lg-6">
    <label for="">Seleccione Apoderado</label>
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Seleccionar...
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="representative in source | orderBy:'nombre'" ng-click="addRepresentative(representative)">
            <b>{{representative.nombre}}</b> {{representative.rut | rut}}
        </li>
    </ul>
    <p class="help-block" ng-show="target == null || target.length == 0">Debe seleccionar al menos un apoderado</p>
</div>
<ul class="tag-list col-md-6 col-lg-6">
    <li>
        <label >Apoderados Seleccionados</label>
        <label class="pull-right">Vias de Notificaci&oacute;n</label>
    </li>

    <li ng-repeat="representative in target" >
        <span class="glyphicon glyphicon-minus-sign" ng-click="removeRepresentative(representative)"></span>
        <p>{{representative.nombre}} {{representative.rut | rut}}</p>
        <span class="pull-right glyphicon glyphicon-hdd"></span>
        <span class="pull-right glyphicon glyphicon-envelope"></span>
    </li>
</ul>

